<h1>More info: </h1>

<ol>
   <li><%= @list.name%> </li>
</ol>

<%= link_to "Main menu", lists_path %>

<% @list.bookmarks.each do |item| %>
<%= item.movie.title %>
<%= link_to "Delete", bookmark_path(item), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>


<!--afficher tous les bookmarks associés a la liste
#creer des liens de suppression pour chacun des bookmark-->
